body {
  font-family: 'Poppins', sans-serif;
  gap: 20px;
  background: #f4f4f4;
}
header {
  background: #f4f4f4;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
li {
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px;
}
img.fixed-image {
  width: 150px;  
  height: 150px; 
  object-fit: cover; 
  border-radius: 5px; 
}
img.logo {
  width: 300px; 
  height: auto; 
}
h1, h2 {
  color: #333;
}
.product-description {
  color: #666;
  font-size: 14px;
}
.price {
  color: #e55300;
  font-size: 16px;
  font-weight: bold;
}
.add-menu button {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  border: none;
  color: white;
  cursor: pointer;
}
.form-container {
  text-align: center; 
  width: 100%;  
  padding: 20px;  
}
.form-style form input, form textarea, form select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #bcbcbc;
  border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
  outline: none;
  border-color: #674ea7;
  box-shadow: 0 0 0 3px #674ea7;
}