{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<head>
    <title>Warmindawg</title>
</head>
<body>
    <div class="add-menu" style="justify-content: center; text-align: center; display: flex; gap: 20px; margin-bottom: 20px">
        <a href="{% url 'home:logout' %}" >
            <button class="w-full px-4 py-2 text-white bg-red-500 hover:bg-red-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                <strong>Logout</strong>
            </button>
        </a>
        <a href="{% url 'home:add_menu_item' %}">
            <button class="w-full px-4 py-2 text-white bg-orange-500 hover:bg-orange-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-600 focus:ring-opacity-50">
                <strong>Tambahkan Menu</strong>
            </button>
        </a>
    </div>
    <p style="text-align: center;">
        🔥🧑🏻‍🍳 Pemasak Warmindawg hari ini: <br /> 
        <strong>
            {{ nama }} dari {{ kelas }}
        </strong>
    </p>
    {% if not items %}
        <h3 class="text-center pt-8 text-xl text-red-500">Tidak ada menu yang tersedia</h3>
    {% else %}
    <h3 class="text-center pt-8 text-xl text-red-500">
        <strong>Menu:</strong>
    </h3>
    <ul>
        {% for item in items %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.name }}" class="fixed-image">
            <p class="pt-4">
            <strong>{{ item.name }}</strong>
            </p>
            <p class="text-red-500 font-bold">
                Rp{{ item.price }}.000
            </p>
            <p class="product-description pt-4">
                {{ item.description }}
            </p>
            <p class="product-description pt-4">
                <strong>Added by:</strong> {{ item.user.username }}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h3 class="text-center pt-8 text-xl text-red-500">
        <strong>Menuku:</strong>
    </h3>
    <!-- {% if not my_items %}
        <h3 class="text-center pt-4">
            <strong>Kamu belum memasukkan menu!</strong>
        </h3>
    {% else %}
    <ul>
        {% for item in my_items %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.name }}" class="fixed-image">
            <p class="pt-4">
            <strong>{{ item.name }}</strong>
            </p>
            <p class="text-red-500 font-bold">
                Rp{{ item.price }}.000
            </p>
            <p class="product-description pt-4">
                {{ item.description }}
            </p>
            <p class="product-description pt-4">
                <strong>Added by:</strong> {{ item.user.username }}
            </p>
                <div style="justify-content: center; text-align: center; display: flex; gap: 12px; margin-bottom: 20px" class="pt-4">
                    <a href="{% url 'home:edit_menu' item.pk %}">
                        <button  class="w-full px-10 py-2 text-white bg-orange-500 hover:bg-orange-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-600 focus:ring-opacity-50">
                            <strong>Ubah</strong>
                        </button>
                    </a>
                    <a href="{% url 'home:delete_item' item.pk %}">
                        <button class="w-full px-10 py-2 text-white bg-red-500 hover:bg-red-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                            <strong>Hapus</strong>
                        </button>
                    </a>
                </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %} -->

    <div id="item_entry_cards"></div>
    <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
        <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 border-b rounded-t">
            <h3 class="text-xl font-semibold text-gray-900">
              Add New Mood Entry
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="px-6 py-4 space-y-6 form-style">
            <form id="moodEntryForm">
              <div class="mb-4">
                <label for="mood" class="block text-sm font-medium text-gray-700">Mood</label>
                <input type="text" id="mood" name="mood" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter your mood" required>
              </div>
              <div class="mb-4">
                <label for="feelings" class="block text-sm font-medium text-gray-700">Feelings</label>
                <textarea id="feelings" name="feelings" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Describe your feelings" required></textarea>
              </div>
              <div class="mb-4">
                <label for="moodIntensity" class="block text-sm font-medium text-gray-700">Mood Intensity (1-10)</label>
                <input type="number" id="moodIntensity" name="mood_intensity" min="1" max="10" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
              </div>
            </form>
          </div>
          <!-- Modal footer -->
          <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
            <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
            <button type="submit" id="submitMoodEntry" form="moodEntryForm" class="bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
          </div>
        </div>
      </div>

    <div class="text-center pt-20">
        <h5>Username: {{ user.username }}</h5>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
</body>
<script>
    async function getItemEntries(){
        return fetch("{% url 'home:menu_list_json' %}").then((res) => res.json())
    }

    async function refreshItemEntries(){
        document.getElementById("item_entry_cards").innerHTML = "";
        document.getElementById("item_entry_cards").className = "";
        const itemEntries = await getItemEntries();
        let htmlString = "";
        let classNameString = "";

        if (itemEntries.length === 0 ) {
            classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
            htmlString = 
                <h3 class="text-center pt-4">
                    <strong>Kamu belum memasukkan menu!</strong>
                </h3>
                ;
        }
        else {
            classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full";
            itemEntries.forEach((item) => {
                htmlString +=
                <li>
                    <img src="${ item.fields.image }" alt="${ item.fields.name }" class="fixed-image"></img>
                    <p class="pt-4">
                    <strong>${ item.fields.name }</strong>
                    </p>
                    <p class="text-red-500 font-bold">
                        Rp${ item.fields.price }.000
                    </p>
                    <p class="product-description pt-4">
                        ${ item.fields.description }
                    </p>
                    <p class="product-description pt-4">
                        <strong>Added by:</strong> ${ item.fields.user.username }
                    </p>
                        <div style="justify-content: center; text-align: center; display: flex; gap: 12px; margin-bottom: 20px" class="pt-4">
                            <a href="{% url 'home:edit_menu' item.pk %}">
                                <button  class="w-full px-10 py-2 text-white bg-orange-500 hover:bg-orange-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-600 focus:ring-opacity-50">
                                    <strong>Ubah</strong>
                                </button>
                            </a>
                            <a href="{% url 'home:delete_item' item.pk %}">
                                <button class="w-full px-10 py-2 text-white bg-red-500 hover:bg-red-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                                    <strong>Hapus</strong>
                                </button>
                            </a>
                        </div>
                </li>
            });
        }
        document.getElementById("item_entry_cards").innerHTML = classNameString;
        document.getElementById("item_entry_cards").className = htmlString;
    }
    refreshItemEntries();
</script>
{% endblock content %} 