{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<head>
    <title>Warmindawg</title>
</head>
<body>
    <div class="add-menu" style="justify-content: center; text-align: center; display: flex; gap: 20px;">
        <a href="{% url 'home:logout' %}">
            <button style="background: #e50000;">
                <strong>Logout</strong>
            </button>
        </a>
        <a href="{% url 'home:add_menu_item' %}">
            <button style="background: #e55300;">
                <strong>Tambahkan Menu</strong>
            </button>
        </a>
    </div>
    <p style="text-align: center;">
        🔥🧑🏻‍🍳 Pemasak Warmindawg hari ini: <br /> 
        <strong>
            {{ nama }} dari {{ kelas }}
        </strong>
    </p>
    {% if not items %}
        <h3 align="center">Tidak ada menu yang tersedia</h3>
    {% else %}
    <h3 align="center">Menu:</h3>
    <ul>
        {% for item in items %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.name }}" class="fixed-image">
            <h2>{{ item.name }}</h2>
            <p class="price">Rp{{ item.price }}.000</p>
            <p class="product-description">{{ item.description }}</p>
            <p class="product-description">
                <strong>Added by:</strong> {{ item.user.username }}</p>
        </li>
        {% endfor %}
    </ul>
    <h3 align="center">Menuku:</h3>
    <ul>
        {% for item in my_items %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.name }}" class="fixed-image">
            <h2>{{ item.name }}</h2>
            <p class="price">Rp{{ item.price }}.000</p>
            <p class="product-description">{{ item.description }}</p>
            <p class="product-description">
                <strong>Added by:</strong> {{ item.user.username }}</p>
                <div style="justify-content: center; text-align: center; display: flex; gap: 20px;">
                    <a href="{% url 'home:edit_menu' item.pk %}">
                        <button style="background: #e55300;">
                            <strong>Ubah</strong>
                        </button>
                    </a>
                    <a href="{% url 'home:delete_item' item.pk %}">
                        <button style="background: #ff0000;">
                            <strong>Hapus</strong>
                        </button>
                    </a>
                </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div align="center">
        <h5>Username: {{ user.username }}</h5>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
</body>
{% endblock content %} 