{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Warmindawg</title>
</head>
<header>
    <img src="{{ logo }}" alt="logo" class="logo">    
</header>
<body>
    <div class="add-menu" style="text-align: center;">
        <a href="{% url 'main:logout' %}">
            <button>Logout</button>
          </a>
        <a href="{% url 'home:add_menu_item' %}">
            <button style="background: #e55300;">
                <strong>Tambahkan Menu</strong>
            </button>
        </a>
    <p style="text-align: center;">
        🔥🧑🏻‍🍳 Pemasak Warmindawg hari ini: <br /> 
        <strong>
            {{ nama }} dari {{ kelas }}
        </strong>
    </p>
    <h3>Menu:</h3>
    <ul>
        {% for item in items %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.name }}" class="fixed-image">
            <h2>{{ item.name }}</h2>
            <p class="price">Rp{{ item.price }}.000</p>
            <p class="product-description">{{ item.description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %} 